In [15]:
#                                    ANSWER 1 
match_score = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuples:")
print(match_score)
match_score.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(match_score)

Original list of tuples:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [27]:
#                                   ANSWER 2 
print(" by using lambda function")
list_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list :")
print(list_number)
print("\nSquare every number of the given list:")
square_number = list(map(lambda x: x ** 2, list_number))
print(square_number)
print("\nby using map function")
def square_num(n):
    return n * n
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original List: ",nums)
result = map(square_num, nums)
print("\nSquare the elements of the given list:")
print(list(result))

 by using lambda function
Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the given list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

by using map function
Original List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square the elements of the given list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
 #                                    ANSWER 4 
import functools
number = range(1,25)
print("The product of the number is : ", end="")
print(functools.reduce(lambda a, b: a*b, number))

The product of the number is : 620448401733239439360000

In [21]:
#                                 ANSWER 5
list_given = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print("given list:")
print(list_given)
print("\nTHE NUMBER IS DIVISIBLE BY 2 IN GIVEN LIST ARE:")
divisible_2 = list(filter(lambda x: x%2 == 0, list_given))
print(divisible_2)
print("\nTHE NUMBER IS DIVISIBLE BY 3 IN GIVEN LIST ARE:")
divisible_3= list(filter(lambda x: x%3 == 0, list_given))
print(divisible_3)

given list:
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

THE NUMBER IS DIVISIBLE BY 2 IN GIVEN LIST ARE:
[2, 6, 60, 90, 120, 46]

THE NUMBER IS DIVISIBLE BY 3 IN GIVEN LIST ARE:
[3, 6, 9, 27, 60, 90, 120]

In [23]:
#                                 ANSWER 6
given_string = ['python', 'php', 'aba', 'radar', 'level']
print("Orginal list of strings:")
print(given_string) 
result = list(filter(lambda x: (x == "".join(reversed(x))), given_string)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['python', 'php', 'aba', 'radar', 'level']

List of palindromes:
['php', 'aba', 'radar', 'level']

In [24]:
#                     ANSWER 3 
print("BY USING MAP FUNCTION")
nums_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list :")
print(nums_list)
result_tuple = tuple(map(str,nums_list))
print("\nTuple of strings:")
print(result_tuple)

BY USING MAP FUNCTION
Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple of strings:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [26]:
#                            ANSWER 3 
print("BY USING LAMBDA FUNCTION")
nums_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list :")
print(nums_list)
nums_list = lambda nums_list : tuple(str,nums_list) 
print("\nTuple of strings:")
print(nums_list)

BY USING LAMBDA FUNCTION
Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple of strings:
<function <lambda> at 0x7f4f49c62170>